@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #3B7A99;
  --color-secondary: #6FA287;
  --color-tertiary: #F2A65A;
  --color-neutral: #75777A;
  --color-def-dark-bg: #121212;
}
